.login-form {
  border: none;
  width: 50%;
  margin: 0 auto;
  padding: 20px 40px;
}

#username, #password, #firstName, #lastName, #passwordConfirm {
  border-radius: 3px;
  vertical-align: middle;
  width: 75%;
  padding: 9px 12px;
  border: 1px #D2D6DF solid;
  background: #fff;
  color: #45494E;
  font-size: 20px;
  line-height: 10px;
  font-weight: 150;
  letter-spacing: .5px;
}